* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 32px;
}


/* HEADER */

.site-header {
    padding: 24px 0;
    background: #fff;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header__nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}


.site-header__nav-link {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}

.site-header__nav-link:hover {
    text-decoration: underline;
    color:aqua;
}

.site-header__btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    gap: 8px;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
    background: #000;
    border: none;
}

.site-header__btn:hover {
    background-color: #1a1a1ac7;
}

.site-header__burger {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    .site-header {
        padding: 16px 0;
    }
    .container {
        padding: 0 16px;
    }
    .site-header__burger {
        display: block;
    }
    .site-header__btn {
        display: none;
    }
    .site-header__nav { 
        display: none;
    }
}


/* Hero */

.hero {
    padding: 60px 0;
}

.col-left {
    width: 100%;
    max-width: 600px;
}

.hero__title {
    font-weight: 400;
    font-size: 48px;
    margin-bottom: 32px;
    line-height: 56px;
    letter-spacing: -2%;
    color: #000;
}

.hero__title2 {
    font-weight: 800;
}

.hero__title3 {
    color: #fff;
    text-shadow: 
    2px 2px 0 #000,
    2px 2px 0 #000,
    2px 2px 0 #000,
    2px 2px 0 #000;
}

.hero__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #71717A;
    margin-bottom: 60px;
}

.hero__social-links {
    display: flex;
    align-items: center;
    gap: 32px;
}

.hero__social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    padding: 16px;
    border-radius: 4px;
    color: #000;
    border: 1px solid #000;
    background-color: #fff;
}

.hero__row {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.hero__social:hover {
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
}

.hero__right {
    width: 789px;
    height: 496px;
}

@media (max-width: 768px) {
    .hero {
        padding: 40px 0;
    }
    .hero__row {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .hero__right {
        width: 300px;
        height: 300px;
        margin-bottom: 48px;
    }
    .col-left {
        width: 100%;
        margin: 0 auto;
    }
    .hero__title {
        font-weight: 400;
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 32px;
    }
    .hero__social-links {
        display: flex;
        align-items: center;
        gap: 24px;
    }
    
    .hero__social {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        padding: 16px;
        border-radius: 4px;
        color: #000;
        border: 1px solid #000;
        background-color: #fff;
    }
    .hero__desc {
        margin-bottom: 36px;
    }
}

@media (max-width: 425px) {
    
}

/* Hero end */

/* Skills Start*/

.skills {
    padding: 60px 0;
}

.skill__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #000;
    margin-bottom: 40px;
}

.skill__span {
    font-weight: 800;
}

.skill__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 71.5px
}

.skill__list-item {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    width: 186px;
    height: 186px;
    border: 2px solid #000;
    border-radius: 4px;
    background-color: white;
    transition: background-color 0.3s ease, color 0.3s ease, filter 0.3s ease;
}

.skill__item-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #000;
    transition: color 0.3s ease;
}

.skill__item-logo img {
    width: 56px;
    height: 56px;
    transition: filter 0.3s ease;
}

.skill__list-item:hover {
    background-color: black;
}

.skill__list-item:hover .skill__item-title {
    color: white;
}

.skill__list-item:hover .skill__item-logo {
    filter: invert(1);
}

@media (max-width: 1024px) {
    .skill__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 71.5px
    }
}

@media (max-width: 768px) {
    .skill__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px
    }
}

@media (max-width: 426px) {
    .skill__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px
    }
    .skill__title {
        font-size: 28px;
        line-height: 32px;
    }
}

@media (max-width: 321px) {
    .skill__list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px
    }
}

/* Skills End */


/* Exp Start */

.exp {
    padding: 60px 0;
    background-color: #000;
    color: #fff
}


.exp__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
}

.exp__span {
    font-weight: 800;
}


.exp__list-item {
    width: 100%;
    border: 1px solid #71717a;
    border-radius: 10px;
    padding: 30px 24px;
}

.exp__item-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

.exp__item-desc {
    color: #D4D4D8;
}

.exp__list-item:hover {
    background-color: #27272A;
}

.exp__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.exp__roww {
    display: flex;
    align-items: center;
    gap: 30px;
}

.exp__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px 24px;
}

@media (max-width: 426px) {
    .exp__row {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-bottom: 30px;
    }
    .exp__roww {
        margin-bottom: 20px;
    }
    .exp__list {
        padding: 0;
    }
    .exp__item-title {
        font-size: 20px;
        line-height: 24px;
    }
    .exp__title {
        font-size: 28px;
        line-height: 32px;
    }
}


/* Exp End */

